* {
    background-color: #1E1E1E;
    color: #ffffff;
    text-align: center;
    font-family: "Comic Neue";
}

body {
    margin: 0;
}

.navbar {
    margin: 20px;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list a {
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    border-radius: 10px;
}

.nav-list a:hover {
    background-color: #3f3f3fb4;
}

.nav-list .active {
    background-color: #CD6D6D;
}

.icon {
    width: 24px;
    padding-right: 5px;
}

h1 {
    padding: 30px;
    font-size: 46px;
}

.me {
    width: 400px;
    border-radius: 30px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 200px;
    padding: 20px;
    height: auto;
}

.grid-container>div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1>img {
    width: 400px;
    border-radius: 50%;
    float: right;
}

.item2> p {
    text-align: left;
}

.contact-icon {
    width: 64px;
}